# **Interview Questions 1 - Python**

**Conversion 5**

**Convert ASCII value to characters**

In [1]:
a = chr(65)
b = chr(77)

print(a)
print(b)

A
M

**Converting integer to float using implicit function**

In [2]:
num1 = 12
num2 = 1.23

new_num = num1 + num2

# display new value and resulting data type
print("Value:", new_num)
print("Data Type:", type(new_num))

Value: 13.23
Data Type: <class 'float'>

**Addition of string and integer using explicit conversion**

In [3]:
num_str = '12'
num_int = 23

# explicit type conversion
num_str = int(num_str)
num_sum = num_int + num_str

print("Sum:", num_sum)
print("Data Type:", type(num_sum))

Sum: 35
Data Type: <class 'int'>

**Converting string to numeric types**

In [5]:
str_num = '56'
print(int(str_num))  # default base is 10
print(int(str_num, 16))  # from headecimal
print(int(str_num, 12))   # from a number where base is 12
str_num = '25.897'
print(float(str_num))   # convert string to floating point values

56
86
66
25.897

**String to character converting and base converting**

In [9]:
print('AsCII value of "M" :', str(ord('M')))
print('Hexadecimal value of 254 is :', str(hex(254)))
print('Octal value of 62 is :', str(oct(62)))
print('Binary value of 56 is :', str(bin(56)))

AsCII value of "M" : 77
Hexadecimal value of 254 is : 0xfe
Octal value of 62 is : 0o76
Binary value of 56 is : 0b111000

**Converting containers**

In [11]:
my_list = [10, 20, 30, 40, 50]
my_set = { 10, 10, 20, 30, 20, 50, 20}
my_tuple = (10, 25, 50, 75, 100)
print('list to tuple:', str(tuple(my_list)))
print('list to set:', str(set(my_list)))
print('set to list:', str(list(my_list)))
print('set to tuple:', str(tuple(my_list)))
print('tuple to list:', str(list(my_list)))
print('tuple to set:', str(set(my_list)))

list to tuple: (10, 20, 30, 40, 50)
list to set: {40, 10, 50, 20, 30}
set to list: [10, 20, 30, 40, 50]
set to tuple: (10, 20, 30, 40, 50)
tuple to list: [10, 20, 30, 40, 50]
tuple to set: {40, 10, 50, 20, 30}

**Convert to complex number**

In [12]:
my_complex = complex(10, 5)
print(my_complex)

(10+5j)

**Using ord() function**

In [13]:
a = '+'
b = 'A'

print(ord(a))
print(ord(b))

43
65

**Primitive data type conversions**

In [14]:
import numpy as np

x = np.array([1, 2, 2.5])
x.astype(int)

array([1, 2, 2])

In [21]:
# int to float

x, y = 3, 4

z = float(x + y)

print(z)

7.0

In [20]:
# float to int

x, y = 3.5, 4.8

z = int(x + y)

print(z)

8

In [19]:
# int to str

chocolate = 25
icecream = 40

total = chocolate + icecream

print("The total is: " + str(total) + "$")

The total is: 65$