# **Interview Questions 1 - Python**

**Conversion 2**

**Example 1: Converting list of tuples to dictionary**

In [1]:
Marks = [('Abi', 67), ('John', 54)]
Marks_dict = dict(Marks)

print(Marks_dict)

{'Abi': 67, 'John': 54}

**Example 2: Converting two lists of same length to a dictionary using dict and zip method**

In [2]:
index = [1, 2, 3]
courses = ['python', 'machine learning', 'data science']

dictionary = dict(zip(index, courses))

print(dictionary)

{1: 'python', 2: 'machine learning', 3: 'data science'}

**Converting two lists of same length to a dictionary using zip method**

In [3]:
index = [1, 2, 3]
courses = ['python', 'machine learning', 'data science']

dictionary = {k: v for k, v in zip(index, courses)}

print(dictionary)

{1: 'python', 2: 'machine learning', 3: 'data science'}

**Example 3**

In [4]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
square_dict = {n: n*n for n in list1}

print(square_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}